@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;700&family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.container {
    width: 100%;
    max-width: 1440px;
    /*height: 1024px;*/
    background-color: #000;
    margin: 0 auto;
    color: #fff;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* screens-size */
@media screen and (max-width: 1000px) {
    .flex {
        flex-direction: column;
    }
}

.flex-center {
    justify-content: center;
}

.align-right {
    text-align: right;
}

header {
    padding: 40px;
    height: 100px;
}

header>div {
    width: 200px;
}

header>:nth-child(2) {
    width: 100%;
}

.logo {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.3em;
}

.menu {
    text-align: center;
    margin: 6%;
}

.menu a {
    padding: 0 15px;
}

.menu a.active,
.menu a:hover {
    color: #42FF00;
}

.body-left {
    width: 48%;
    height: 95%;
}

.body-right {
    width: 52%;
    height: 95%;
    background-image: url('../assets/imgs/body.png');
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
}

.body-left .text {
    width: 62%;
    margin: 200px auto 50px;
}

.body-left h1 {
    font-size: 70px;
    letter-spacing: 0.11em;
}

.body-left p {
    font-size: 24px;
    letter-spacing: 0.06em;
    font-weight: 200;
}

.btn-arrow {
    background-image: url('../assets/icons/arrow.png');
    width: 60px;
    height: 60px;
    background-position: center;
    border-radius: 60px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 5%;
}

.btn-arrow:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.social-net {
    margin-top: 100px;
    flex-flow: wrap;
}

.social-net i {
    width: 40px;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
}

.facebook {
    background-image: url('../assets/icons/facebook.png');
    background-size: 85%;
}

.instagram {
    background-image: url('../assets/icons/instagram.png');
    background-size: 85%;
}

.twitter {
    background-image: url('../assets/icons/twitter.png');
    background-size: 85%;
}

.youtube {
    background-image: url('../assets/icons/youtube.png');
    background-size: 85%;
}

.more-icons {
    margin: 100% 0 0 8%;
    flex-flow: wrap;
}

.more-icons i {
    width: 70px;
    height: 70px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.map {
    background-image: url('../assets/icons/map.png');
    background-size: 50%;
}

.boxes {
    background-image: url('../assets/icons/boxes.png');
    background-size: 50%;
}

.layers {
    background-image: url('../assets/icons/layers.png');
    background-size: 50%;
}

.heart {
    background-image: url('../assets/icons/heart.png');
    background-size: 50%;
}

.green-container {
    width: 95%;
    height: 76px;
    background-color: rgba(66, 255, 0, 0.2);
    margin-top: 36%;
    float: right;
    background-position: top center;
}

i {
    transition: all .2s ease-in-out;
}

i:hover {
    transform: scale(1.3);
}

/* Queris */

/* portatil */

@media screen and (max-width: 1200px) {
    .body-left h1 {
        font-size: 60px;
    }

    .body-left p {
        font-size: 22px;
    }

    .btn-arrow {
        width: 55px;
        height: 55px;
        border-radius: 55px;
        background-size: 50%;
    }

    .social-net i {
        width: 38px;
        height: 38px;
    }

    .more-icons i {
        width: 60px;
        height: 60px;
    }
}
/* netbook */
@media screen and (max-width: 991px) {
    .body-left h1 {
        font-size: 50px;
    }

    .body-left p {
        font-size: 20px;
    }

    .btn-arrow {
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }

    .social-net i {
        width: 36px;
        height: 36px;
    }

    .more-icons i {
        width: 50px;
        height: 50px;
    }
}
/* tablet */
@media screen and (max-width: 767px) {
    .body-left h1 {
        font-size: 40px;
    }

    .body-left p {
        font-size: 18px;
    }

    .btn-arrow {
        width: 45px;
        height: 45px;
        border-radius: 45px;
    }

    .social-net i {
        width: 34px;
        height: 34px;
    }

    .more-icons i {
        width: 40px;
        height: 40px;
    }
}

/* movil */
@media screen and (max-width: 575px) {
    .body-left h1 {
        font-size: 30px;
    }

    .body-left p {
        font-size: 16px;
    }

    .btn-arrow {
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }

    .social-net i {
        width: 32px;
        height: 32px;
    }

    .more-icons i {
        width: 30px;
        height: 30px;
    }
}

